html {
    font-family: 微軟正黑體;
    max-width: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* layout */
.wraper {
    margin: 0 auto;
}

.header {
    background: url(../img/navbar_bg.png) center/cover no-repeat;
}

.header .nav-bar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #C0BFBF;
    box-shadow: 2px 2px 10px #C0BFBF;
}

.header h1 {
    display: inline-block;
    padding-left: 21px;
}

.header h1 a {
    background: url(../svg/title_logo.svg) no-repeat;
    display: inline-block;
    width: 173px;
    height: 50px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}

.header .menu {
    margin-top: 20px;
    display: flex;
    max-width: 500px;
    justify-content: space-around;
}

.header .menu li a {
    display: inline-block;
    color: #a19f9f;
    text-align: center;
    max-width: 150px;
    margin: 0 10px;
    font-size: 20px;
}

.header .menu li a:hover {
    color: #696868;
}

.badge_add {
    margin-left: 5px;
    background: #E0E0E0;
    padding: 2px 6px;
    width: 20px;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: default;
    font-size: 14px;
}

.shopping_cart {
    margin-left: 20px;
}

.hidden {
    visibility: hidden;
}

.banner {
    margin-top: 5px;
    height: 100%;
    padding: 50px;
}

.nav-logo-block {
    max-width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.username-block {
    font-size: 24px;
    color: sandybrown;
    margin-left: 20px;
}

.banner h2 {
    font-size: 28px;
    color: #746059;
    font-weight: 900;
}

.banner_msg {
    font-size: 20px;
    margin: 20px;
    width: 400px;
    color: #746059;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background: #F0F5F4;
}

.footer .footer_info p {
    margin: 15px;
}

.footer .footer_loge {
    width: 150px;
    border-bottom: solid 3px rgba(141, 187, 195, 0.267);
    margin-bottom: 20px;
}

.footer .social_network {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 6px;
}

.footer .social_network .icon {
    width: 30px;
    margin-right: 10px;
}

.footer .social_network .icon:hover {
    transform: scale(1.07);
}

.footer_bottom {
    background: #6e706f9a;
    padding: 12px;
    text-align: center;
    color: white;
    font-size: 14px;
    padding: 12px;
}

/* index(goodlist) */
.goodslist-section {
    margin-top: 20px;
}

.goodslist_msg {
    margin: 30px;
    font-size: 20px;
}

.goodslist-intro {
    text-align: center;
}

.goodslist-intro {
    width: 50 ％;
}

.goodslist-intro h3 {
    margin: 20px;
    color: #463e3a8c;
}

.goodslist-intro h2 {
    width: 300px;
    font-size: 32px;
    border-left: solid 15px #fac563;
    border-radius: 5px;
    margin: 30px auto;
}

.swiper-container {
    width: 500px;
    height: 300px;
    margin-bottom: 100px;
}

/*.swiper-wrapper{*/
/*margin-bottom: 70px;*/
/*height: 100%;*/
/*}*/
.swiper-wrapper img {
    width: 100%;
    height: 100%;
}

/*.swiper-container {*/
/*width : 640px;*/
/*height: 390px;*/
/*}*/
.buy_icon {
    width: 20px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.goodslist-section .goods-ul {
    width: 90%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 35px;
}

.goodslist-section .goods-ul li {
    max-width: 300px;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 1.4px 1.4px 12px -3px #00000078;
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
    opacity: 0.9;
    display: flex;
    margin-top: 20px;
    margin-left: 35px;
}

.goodslist-section .goods-ul img {
    width: 100%;
    height: 185px;
}

.goodslist-section .goods-ul li:hover {
    transform: scale(1.07);
    filter: brightness(1.2);
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.goods-name {
    margin-left: 10px;
}

.goods-price {
    color: #ff9633;
}

.buy-info {
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
}

.buy-info h5 {
    text-align: left;
    width: 50%;
}

.buy-info i {
    width: 25%;
}

.buy-info span {
    width: 10%;
}

.buy-info span:hover {
    background: #fac563;
}

/* goods-section-paination */
.pagination {
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.pagination li {
    padding: 10px;
}

.pagination a {
    display: inline-block;
    width: 50px;
    font-size: 20px;
    color: rgba(153, 150, 116, 0.8);
}

.pagination li a.active {
    border-bottom: solid 10px rgba(153, 150, 116, 0.8);
    padding-bottom: 10px;
    border-radius: 5px;
}

.pagination li:hover a {
    color: #F0F5F4;
}

.pagination li:hover {
    background: rgba(153, 150, 116, 0.8);
    color: #F0F5F4;
    border-radius: 5px;
}

/* member--community */
.member-header {
    background: url(../img/navbar_bg.png) center/cover no-repeat;
    height: 1000px;
}

.member-section {
    margin: 0 auto;
    max-width: 800px;
    padding: 50px;
    height: 700px;
    background: url(../img/signBg.png) center/cover no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.member-form {
    color: rgba(147, 102, 0, 0.8);
    max-width: 300px;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
}

.member-form img {
    max-width: 100%;
}

.member-form input {
    max-width: 250px;
    margin: 10px 0px 30px 0px;
    align-items: center;
    border: none;
    border-bottom: 1px solid rgba(147, 102, 0, 0.8);
    background: transparent;
    color: rgba(147, 102, 0, 0.8);
}

.member-form input:focus {
    outline: none;
}

.member-form .submit-button {
    display: inline-block;
    max-width: 120px;
    height: 40px;
    margin: 10px 20px 10px 60px;
    border-radius: 7px;
    background: rgba(147, 102, 0, 0.8);
    color: #FFFFFF;
}

.member-form .submit-button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.member-form .submit-button:hover {
    border: none;
    cursor: pointer;
    transform: scale(1.07);
}

/* member-switch */
.sign-switch {
    max-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sign_btn {
    margin-left: 10px;
}

.sign-switch span {
    color: rgba(143, 140, 140, 0.8);
}

.sign-switch a {
    display: inline-block;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    font-weight: 900;
    box-shadow: 6px 6px 12px grey;
    border: none;
    outline: none;
}

.sign-switch .signIn-switch {
    background: #999674;
    color: #FFFFFF;
    border-radius: 10px 0px 0px 10px;
}

.sign-switch .signIn-switch:hover {
    background: rgba(152, 150, 116, 0.6);
    box-shadow: none;
    border: none;
}

.sign-switch .sigUp-switch {
    background: #FFFFFF;
    color: #000000;
    border-radius: 0px 10px 10px 0px;
}

.sign-switch .sigUp-switch:hover {
    background: rgba(255, 255, 255, 0.3);
    color: #000000;
    box-shadow: none;
    border: none;
}

.signIn-span {
    display: none;
}

/* member-signIn */
.signUp-form {
    display: none;
}

.signIn-form img {
    width: 260px;
    margin-bottom: 60px;
}

@media (max-width: 1024px) {
    .goodslist-section .goods-ul {
        width: 100%;
        padding-right: 10px;
    }

    .goodslist-section .goods-ul li {
        margin-left: 10px;
    }
}

@media (max-width: 780px) {
    .member-section {
        flex-direction: column;
        padding: 5px;
    }

    .sign-switch {
        display: flex;
        flex-direction: column;
    }

    .sign-switch a {
        max-width: 100px;
    }

    .sign_btn {
        margin-top: 10px;
    }
}

@media (max-width: 767px) {

    .header .nav-bar {
        padding: 6px;
    }

    .badge_add {
        position: absolute;
    }

    .banner_msg {
        width: 80%;
    }

    .swiper-container {
        width: 80%;
    }

    .pagination a {
        max-width: 30px;
    }

    .header .menu {
        flex-direction: column;
        margin-top: 10px;
    }

    .menu li {
        margin: 2px;
    }


    .footer {
        flex-direction: column;
        padding: 3%;
    }

    .footer_icon {
        width: 90%;
    }

    .footer .footer_loge {
        margin: 0 auto;
    }

    .footer .social_network {
        justify-content: flex-start;
    }
}

@media (max-width: 320px) {
    .header .menu li a{
        font-size: 16px;
    }
}