/* order_page  */


body {
    background: url(../img/bg.jpg) center/cover !important;
}

nav {
    box-shadow: -1.6px -1.6px 6px 0px #000000;
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.6);
}

li {
    list-style: none
}


input {
    outline: none;
    border: none;
}

button {
    outline: none;
    border: none;
}

button:focus {
    outline: none;
}

.nav-logo-block {
    background: url(../svg/title_logo.svg) no-repeat;
    display: inline-block;
    width: 173px;
    height: 50px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}

.container {
    margin-bottom: 123px;
}

.site-name {
    margin: 5px 0 5px 25px;
    max-width: 160px;
}

.order_block {
    width: 90%;
    height: 600px;
    border-radius: 8px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9px;
}

.order_title {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    width: 90%;
    height: 70px;
    box-shadow: 6.4px 10.4px 21px -14px #0000005b;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    box-sizing: border-box;
    justify-content: space-between;

}

.goods_info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 57%;
}

.row p {
    margin: 0;
}

.order_list {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 6.4px 10.4px 21px -14px #00000059;
    padding: 10px 5px;
}

.center-vertical {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.order_goods_img {
    background: center no-repeat;
    background-size: cover;

    width: 30%;
    height: 90px;
    margin-right: 10px;
}

.amount {
    border: 1px solid rgb(0, 0, 0);
}

.order_amount {
    padding: 7px 21px;
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    margin: 0;
    width: 56px;
    box-sizing: border-box;
}

.amount_btn {
    margin: 0;
    outline: none;
    background: none;
    padding: 7px;
    border: none;
}

.amount_btn:active {
    background: #ff9633;
}

.order_price_total {
    color: red;
}

.del_btn {
    margin: 0;
    padding: 8px !important;
    border: 1px solid transparent;
    outline: none;
    background:cadetblue;
    color:white;
    padding: 5px;
    border-radius: 8px;
    font-size: 14px;
}

.footer_block {
    position: fixed;
    bottom: 0;
    background: white;
    height: 120px;
    width: 82%;
    margin: 0 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 0px 20px 0px #00000059;
    border-radius: 5px 5px 0 0;
}

.settle_accounts_block {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    justify-content: flex-end;
}

.sub_total {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.total_price {
    color: red;
    font-size: 30px;
    margin-left: 10px;
}

.settle_accounts_btn {
    color: white;
    font-size: 20px;
    width: 125px;
    height: 46px;
    border-radius: 5px;
    background-color: #ff9633;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-style: none;
    margin-left: 50px;
}

.web_display_none {
    display: none !important;
}

@media (max-width: 771px) {
    .app_display_none {
        display: none !important;
    }

    .web_display_none {
        display: flex !important;
        margin-right: 10px;
    }

    .app_goodsname {
        margin: 10px;
        font-size: 20px;
    }

    .col-5 {
        max-width: 100%;
        overflow: hidden;
    }

    .order_goods_img {
        background: center no-repeat;
        background-size: cover;
        width: 100%;
        height: 170px;
        border-radius: 8px;
        margin: 0 auto;
    }
    .order_list {
        margin: 10px;
        display: flex;
        flex-direction: column;
    }

    .col {
        font-size: 20px;
        margin-top: 20px;
    }

    .del_btn {
        width: 100px;
    }

    .footer_block {
        height: 80px;
    }

    .total_price {
        font-size: 24px;
    }

    .settle_accounts_block {
        padding: 5px;
    }

    .settle_accounts_btn {
        margin-left:10px;
        width:60px;
        height: 40px;
        font-size: 18px;
    }
}