html {
    font-family: 微軟正黑體;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* layout */
.wraper{
	margin: 0 auto;
}
.header{
	background: url(../img/navbar_bg.png)  center/cover no-repeat;
}
.header .nav-bar{
	padding: 20px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #C0BFBF;
	box-shadow: 2px 2px 10px #C0BFBF;
}
.header h1{
	display: inline-block;
	padding-left:21px ;
}
.header h1 a{
	background: url(../svg/title_logo.svg) no-repeat;
	display: inline-block;
	width: 173px;
	height: 50px;
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
}
.header .menu{
	margin-top: 20px;
	display: flex;
	width: 400px;
	justify-content: space-around;
}
.header .menu li a{
	display: inline-block;
	color: #a19f9f;
	text-align: center;
	width: 110px;
	margin: 0 10px;
	font-size: 20px;
}
.header .menu li a:hover{
	color: #696868;
}
.banner{
	margin-top: 5px;
	height: 100%;
	padding: 50px ;
}
.banner h2{
	font-size: 28px;
	color: #746059;
	font-weight: 900;
}
.banner p{
	font-size: 20px;
	margin: 20px;
	width: 400px;
	color: #746059;
}
.footer{
	display: flex;
	justify-content: space-between;
	padding: 50px;
	background: #F0F5F4;
}
.footer .footer_info p{
	margin: 15px ;
}
.footer .footer_loge{
	width        : 150px;
    border-bottom: solid 3px rgba(141, 187, 195, 0.267);
	margin-bottom: 20px;
}
.footer  .social_network{
	display: flex;
	justify-content: space-between;
    padding        : 0 10px;
    margin-top     : 6px;
}
.footer .social_network .icon{
	width       : 30px;
    margin-right: 10px;
}
.footer .social_network .icon:hover{
	  transform: scale(1.07);
}
.footer_bottom{
	background: #6e706f9a;
    padding   : 12px;
    text-align: center;
    color     : white;
    font-size : 14px;
    padding   : 12px;
}
/* index(goodlist) */
.goodlist-intro{
	text-align: center;
}
.goodlist-intro{
	width: 50％;
}
.goodlist-intro h3{
	margin: 20px;
	color : #463e3a8c;
}
.goodlist-intro h2{
	width: 300px;
	font-size    : 32px;
	border-left  : solid 15px #fac563;
	border-radius: 5px;
	margin: 30px auto;
}
.swiper{
	margin-bottom: 70px;
}
.swiper-container {
    width : 640px;
    height: 390px;
}

/* member--community */
.member-header{
	background: url(../img/navbar_bg.png)  center/cover no-repeat;
	height: 1000px;
}
.member-section{
	margin: 0 auto;
    width: 800px;
	padding: 50px;
	height: 700px;
    background: url(../img/signBg.png) center/cover no-repeat;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.member-form{
	color: rgba(147, 102, 0, 0.8);
	width: 300px;
	width: 300px;
	margin-top: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.member-form input{
	width: 250px;
	margin:10px 0px 30px 0px ;
	align-items: center;
	border       : none;
	border-bottom:1px solid rgba(147, 102, 0, 0.8) ;
	background: transparent;
	color: rgba(147, 102, 0, 0.8);
}
.member-form input:focus{
	outline: none;
}
.member-form .submit-button{
	display: inline-block;
	width: 120px;
	height: 30px;
	margin: 10px 20px 10px 60px;
	border-radius: 7px;
	background   : rgba(147, 102, 0, 0.8);
	color        : #FFFFFF;
}
.member-form .submit-button:active{
	box-shadow: 0 5px #666;
	transform : translateY(4px);
}
.member-form .submit-button:hover{
	border: none;
	cursor    : pointer;
	transform: scale(1.07);
}
/* member-switch */
.sign-switch span{
	color  : rgba(143, 140, 140, 0.8);
}
.sign-switch a{
	display        : inline-block;
	text-decoration: none;
	height         : 30px;
	line-height    : 30px;
	padding        : 0 15px;
	font-weight    : 900;
	box-shadow     : 6px 6px 12px grey;
	border         : none;
	outline        : none;
}
.sign-switch .signIn-switch{
	background   : #999674;
	color        : #FFFFFF;
	border-radius: 10px 0px 0px 10px;
}
.sign-switch .signIn-switch:hover{
	background: rgba(152, 150, 116, 0.6);
	box-shadow: none;
	border    : none;
}
.sign-switch .sigUp-switch{
	background   : #FFFFFF;
	color        : #000000;
	border-radius: 0px 10px 10px 0px;
}
.sign-switch .sigUp-switch:hover{
	background: rgba(255, 255, 255, 0.3);
	color     : #000000;
	box-shadow: none;
	border    : none;
}
.signIn-span{
	display: none;
}
/* member-signIn */
.signUp-form{
	display: none;
}
.signIn-form img{
	width        : 260px;
	margin-bottom: 60px;
}