html {
    font-family: 微軟正黑體;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin        : 0;
    padding       : 0;
    border        : 0;
    font-size     : 100%;
    font          : inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing : 0;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

textarea {
    resize: none;
}

/* Swiper */
.swiper-container {
    width : 640px;
    height: 390px;
}

/* index */
.banner {
    height       : 490px;
    margin-bottom: 40px;
    background   : url(../img/navbar_bg.png) center/cover no-repeat;
}

.banner h2 {
    margin: 80px 0 0 85px;
    color : #52392f;
}

.banner p {
    margin: 7px 0 0 108px;
    width : 400px;
    color : #5f4e45;
}

.navbar {
    box-shadow: -1.6px -1.6px 6px 0px #000000;
    margin    : 0;
}

.navbar .wrapper {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    height         : 62px;
    background     : rgba(255, 255, 255, 0.4);
    padding        : 0px 20px;

}

.site-name {
    margin   : 5px 0 5px 25px;
    max-width: 160px;
}

.navbar_list {
    display    : flex;
    align-items: center;
    font-size  : 20px;

}

.navbar_item {
    display     : flex;
    align-items : center;
    margin-right: 15px;

}

.navbar_login {
    font-size: 17px;
}

.navbar_register {
    margin-left  : 10px;
    margin-right : 3px;
    border-right : solid 1.5px #5a5a5a;
    padding-right: 3px;
}

.nav_icon {
    width       : 20px;
    margin-right: 5px;
}

.navbar_list div:hover a {
    color: rgb(116, 172, 182);
}

.navbar_list a {
    text-decoration: none;
    color          : #5c5c5c;
}

.wrapper {
    margin : 0 auto;
    padding: 0px 12px;
}

.section {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.section h3 {
    margin: 5px;
    color : #463e3a8c;
}

.hot_sell_title {
    font-size    : 32px;
    border-left  : solid 15px #fac563;
    border-radius: 5px;
    padding-left : 20px;
    margin-top   : 50px;
    margin-bottom: 30px;
}

.test1 {
    display        : flex;
    align-items    : center;
    justify-content: center;
    margin-bottom  : 80px;
}

.test2 {
    width          : 800px;
    height         : 200px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    background     : #5c5c5c25;
}

.buy_title {
    font-size: 20px;
}

.buy_icon {
    width        : 20px;
    margin-top   : 15px;
    margin-bottom: 40px;
}

.icon {
    width       : 30px;
    margin-right: 10px;
}

.card_block {
    max-width      : 1016px;
    display        : inline-flex;
    flex-wrap      : wrap;
    justify-content: center;
}

.card {
    max-width     : 300px;
    flex-direction: column;
    box-shadow    : 1.4px 1.4px 12px -3px #00000078;
    position      : relative;
    cursor        : pointer;
    transition    : all 0.2s;
    opacity       : 0.9;
    display       : flex;
    margin-top    : 20px;
    margin-left   : 35px;
}

.card:hover {
    transform : scale(1.07);
    filter    : brightness(1.2);
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.5);
    opacity   : 1;
}

.card_img {
    background: center/cover no-repeat;
    width     : 100%;
    height    : 188px;
}

.card_add {
    position: absolute;
    width   : 25px;
    right   : 8px;
    top     : 150px;
}

.card_bottom {
    display       : flex;
    flex-direction: row;
}

.card_info {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    padding        : 14px;
    font-size      : 16px;
    width          : 280px;
}

footer {
    margin-top: 48px;
}

.footer_bottom {
    background: #6e706f9a;
    padding   : 12px;
    text-align: center;
    color     : white;
    font-size : 14px;
    padding   : 12px;
}

.footer_top {
    background: #e8efeea6;
    padding   : 32px;
    color     : #484848;
}

.footer_top .wrapper {
    display        : flex;
    justify-content: space-between;
}

.footer_info {
    margin-right: 16px;
}

.footer_info div+div {
    margin-top: 10px;
}

.site-name_footer {
    width        : 150px;
    border-bottom: solid 3px rgba(141, 187, 195, 0.267);
}

.footer_icon_block {
    display        : flex;
    flex-direction : row;
    justify-content: space-around;
    padding        : 0 10px;
    margin-top     : 6px;
}

.footer_icon_block .icon:hover {
    transform: scale(1.07);
}

@media(max-width: 768px) {
    .navbar .wrapper {
        height         : 120px;
        flex-direction : column;
        justify-content: space-between;
        padding        : 0px;
    }

    .navbar_site-name {
        margin-top: 15px;
    }

    .navbar_list {
        display        : flex;
        justify-content: center;
        width          : 100%;
        font-size      : 16px;
    }

    .section_title {
        font-size    : 30px;
        border-left  : solid 15px #a3dea2;
        padding-left : 16px;
        margin-bottom: 16px;
        margin-top   : 20px;
    }

    .footer_top .wrapper {
        flex-direction: column-reverse;
    }

    .footer_info {
        margin-right: 0;
        margin-top  : 16px;
    }
}

@media(max-width: 538px) {
    .navbar_list li {
        margin-left  : 0;
        border-radius: 0;
        text-align   : center;
    }

    .navbar_list {
        display        : flex;
        justify-content: center;
        width          : 100%;
    }

    .navbar_list li a {
        padding: 12px 33px;
    }
}

@media(max-width: 375px) {

    .navbar_list li a {
        padding: 12px 23px;
    }

}


/* register */
.register-banner {
    padding   : 1px;
    background: url(../img/navbar_bg.png) center/cover no-repeat;
}

.register-footer {
    margin-top: 0px;
}

.form_block {
    margin       : 80px auto;
    margin-bottom: 0px3;
    padding      : 50px 10px 40px 100px;
    width        : 800px;
    height       : 700px;
    background   : url(../img/signBg.png) no-repeat;
    display      : flex;
}

.img_moon {
    width        : 280px;
    margin-bottom: 110px;
}

.form_block .switch {
    margin-left   : 100px;
    display       : flex;
    flex-direction: row;
    width         : 270px;
}

.form_block span {
    color       : rgba(143, 140, 140, 0.8);
    margin-right: 10px;
    width       : 270px;
    margin-top  : 5px;
}

.btn {
    display        : inline-block;
    text-decoration: none;
    width          : 100px;
    height         : 30px;
    line-height    : 30px;
    padding        : 0 15px;
    font-weight    : 900;
    box-shadow     : 6px 6px 12px grey;
    border         : none;
    outline        : none;
}

.form_block .switch .signIn-button {
    background   : #999674;
    color        : #FFFFFF;
    border-radius: 10px 0px 0px 10px;
}

.form_block .switch .signIn-button:hover {
    background: rgba(152, 150, 116, 0.6);
    box-shadow: none;
    border    : none;
}

.signIn-button:active {
    box-shadow: 0 5px #666;
    transform : translateY(4px);
}

.form_block .switch .sigUp-button {
    background   : #FFFFFF;
    color        : #000000;
    border-radius: 0px 10px 10px 0px;
}

.form_block .switch .sigUp-button:hover {
    background: rgba(255, 255, 255, 0.3);
    color     : #000000;
    box-shadow: none;
    border    : none;
}

.sigUp-button:active {
    box-shadow: 0 5px #666;
    transform : translateY(4px);
}

.form_block form {
    margin-top    : 50px;
    display       : flex;
    flex-direction: column;
    color         : #936600;
}

.form_block_input {
    width        : 280px;
    margin-top   : 10px;
    margin-bottom: 40px;
    border       : none;
    background   : transparent;
    border-bottom: #936600 1px solid;
}

.form_block form input:focus {
    outline: none;
}

.form_block .submit-button {
    width        : 100px;
    border       : none;
    border-radius: 7px;
    margin-top   : 0px;
    margin-left  : 80px;
    padding      : 10px 0px;
    background   : rgba(147, 102, 0, 0.8);
    color        : #FFFFFF;
}

.form_block .submit-button:hover {
    color     : rgba(147, 102, 0, 0.8);
    background: #FFFFFF;
    cursor    : pointer;
}

.submit-button:active {
    box-shadow: 0 5px #666;
    transform : translateY(4px);
}

.register-section {
    display:none
}

.signIn-session {
    display:none
}